a {
  font-size: 14px !important;
  color: #95A5A6 !important;
  font-weight: bold !important; }

.active-route {
  background-color: #E14848 !important; }

.active-route a {
  color: #fff !important; }
