@import "../../../../styles/variables.scss";

a {
    font-size: $font-size-sm !important;
    color: $grey !important;
    font-weight: bold !important;
}

.active-route {
    background-color: $red !important;

    a {
        color: $white !important;
    }
}
