@import '../../styles/variables.scss';

.date-row {
    margin: 10px 0;
}

.working-time-unit-container {
    padding: 30px 30px 10px 30px;
    border: 1px solid;
    border-radius: 4px;
    border-color: $grey-light;
    margin-top: 10px;
}

.working-time-row:last-of-type {
    border-bottom: 1px solid;
    border-color: $grey-light;
    margin-bottom: 30px
}