.notification-container {
  border-radius: 4px;
  font-weight: bold !important;
  font-size: 14px !important; }

.notification-error {
  background: #E14848 !important;
  color: #fff; }

.notification-success {
  background: #fff !important;
  color: #95A5A6; }
