.body-examination-row {
  padding-top: 10px;
  padding-bottom: 10px; }

.body-examination-row-container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 1px solid;
  border-color: #DFDFDF; }

.body-examination-row-container-wrapper:nth-of-type(2n-1) {
  background: #fff; }
  .body-examination-row-container-wrapper:nth-of-type(2n-1) .body-examination-row-container {
    background: #F8F9FA; }

.body-examination-row-container-wrapper:nth-of-type(2n) {
  background: #F8F9FA; }
  .body-examination-row-container-wrapper:nth-of-type(2n) .body-examination-row-container {
    background: #fff; }

.body-examination-row-container-wrapper:last-of-type {
  margin-bottom: 30px; }

.body-examination-row-container:nth-of-type(2n) {
  background: #F8F9FA; }

.body-examination-row-container:nth-of-type(2n-1) {
  background: #fff; }

.body-examination-row-container:last-of-type {
  border-color: #DFDFDF; }
