body {
  background: url(architecture-wallpaper-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }

.btn-primary {
  background-color: #E14848 !important;
  border-color: #E14848 !important;
  color: #fff !important; }

.title {
  color: #95A5A6;
  font-weight: bold; }

.react-datepicker-wrapper > div > input {
  width: 114%; }

.clickable-icon:hover {
  cursor: pointer; }
