@import "./variables.scss";

body { 
    background: url(architecture-wallpaper-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.btn-primary {
    background-color: $red !important;
    border-color: $red !important;
    color: $white !important;
}

.title {
    color: $grey;
    font-weight: bold;
}

.react-datepicker-wrapper>div>input {
    width: 114%;
}

.clickable-icon{
    &:hover {
        cursor: pointer;
    }
}