// colors

$white: #fff;

$black: #000;

$red-dark: #CC0000;
$red: #E14848;
$red-light: #CA8181;

$blue: #007eff;

$grey-darker: #333333;
$grey-dark: #616161;
$grey: #95A5A6;
$grey-light: #DFDFDF;
$grey-lighter: #F8F9FA;

// font sizes

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

