@import '../../../../styles/variables.scss';

.doctor-examination-row {
    padding-bottom: 10px;
    border-top: 1px solid;
    border-color: $grey-light;
    padding-top: 10px;
}

.doctor-examination-row:last-of-type {
    border-bottom: 1px solid;
    border-color: $grey-light;
    margin-bottom: 30px
}

.doctor-examination-row:nth-of-type(2n) {
    background: $grey-lighter;
}

.doctor-examination-expandable-row-container {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid;
    border-color: $grey-light;
}
